:root {
  font-size: 16px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Arial, sans-serif;
  text-align: center;
  overflow: auto;

  /* background-color: #f4f4f4; */
  background-color: #121212;
  color: #f0f0f0;
}

h1 {
  font-size: 2em;
  margin: 0.5em;
  margin-top: 1em;
}

h2 {
  font-size: 1.5em;
  margin: 2em 0;
}

#libLoadingScreen {
  display: none;
}

#tagLine {
  display: none;
}

#tagLine.visible {
  display: block;
}

#pdfInputContainer {
  display: none;
}

#pdfInputContainer.visible {
  margin: auto;
  display: flex;
  justify-content: center;
}

input[type="file"] {
  font-size: 1em;
  padding: 1rem;
  /* border: 0.125rem dashed #007bff; */
  border: 0.125rem dashed #90caf9;
  /* background-color: #e6f0ff; */
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;

  background-color: #1e1e1e;
  color: #ffffff;
}

input[type="file"]:hover {
  /* background-color: #cce0ff; */
  background-color: #2c2c2c;
}

#fileName {
  display: none;
}

#fileName.visible {
  display: block;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 1em;
}

#tagline {
  display: none;
}

#tagline.visible {
  display: block;
}

.content-wrapper {
  display: none;
  height: auto;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  /* margin: 1em auto; */
}

.button-group button {
  font-size: 1em;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  /* background-color: #007bff; */
  background-color: #2196f3;
  /* color: white; */
  color: #ffffff;
  transition: background-color 0.3s;
}

.button-group button:hover {
  /* background-color: #0056b3; */
  background-color: #1976d2;
}

.button-group button:disabled {
  cursor: not-allowed;
  opacity: 0.6;

  /* background-color: #cccccc; */
  /* color: #666666;            */

  background-color: #444444;
  color: #aaaaaa;
}

canvas {
  /* border: 0.125rem solid #ccc; */
  border: 0.125rem solid #444;
  border-radius: 0.5rem;
  /* background-color: white; */
  background-color: #1e1e1e;
}

/* ---------- Mobile Layout ---------- */
@media (max-width: 768px) {
  /* body:not(.loaded) {
    overflow: hidden;
  } */

  /*  body.loaded {
    height: auto;
    overflow: auto;
  } */

  #pdfInput {
    /* 90% of the viewport width */
    max-width: 90%;
    /* max-width: 80vw; */
  }

  .content-wrapper.visible {
    display: grid;
    min-height: 80vh;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "original original diff diff"
      "original original diff diff"
      "final final buttons-top buttons-top"
      "final final buttons-btm buttons-btm";

    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "original diff"
      "final buttons"; */
    place-items: center;
  }

  .btn-label {
    display: none;
  }

  .button-group {
    justify-content: space-evenly;
    width: 100%;
    margin: 0 1em 0 0.5em;
  }

  .button-group button {
    padding: 0.5rem;
    width: 3rem;
  }

  #topButtons {
    grid-area: buttons-top;
  }

  #bottomButtons {
    grid-area: buttons-btm;
  }

  .canvas-container {
    display: contents;
  }

  canvas {
    max-width: 90%;
    max-height: 90%;
  }

  #originalCanvas {
    grid-area: original;
  }

  #diffCanvas {
    grid-area: diff;
  }

  #finalCanvas {
    grid-area: final;
  }
}

/* ---------- Desktop Layout ---------- */
@media (min-width: 769px) {
  body {
    overflow: hidden;
  }

  #pdfInput {
    width: 100%;
    max-width: 30rem;
  }

  .content-wrapper.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    gap: 3em;
  }

  .btn-icon {
    display: none;
  }

  .button-group {
    justify-content: center;
    gap: 1em;
    width: 90%;
    margin: 1em 0;
  }

  .button-group button {
    /* padding: 1rem 2rem; */
    min-width: 10%;
    min-height: 3em;
    margin: 0 5em;
    padding: 0.5rem;
  }

  .button-top {
    order: 1;
  }

  .button-bottom {
    order: 3;
  }

  .canvas-container {
    order: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 100%;
    margin-top: 1em;
    gap: 2em;
  }

  canvas {
    max-width: 20%;
    height: auto;
    max-height: 40%;
  }
}
